{
  "openapi": "3.0.3",
  "info": {
    "title": "Prime Self API",
    "version": "2.0.0",
    "description": "Programmatic access to Human Design chart calculations, profile generation, transit forecasts, and astrological insights. Perfect for developers, researchers, and businesses building HD-powered applications.",
    "contact": {
      "name": "Prime Self API Support",
      "email": "api@primeself.app",
      "url": "https://primeself.app"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://primeself.app/terms"
    },
    "termsOfService": "https://primeself.app/terms"
  },
  "servers": [
    {
      "url": "https://api.primeself.app",
      "description": "Production server"
    },
    {
      "url": "https://primeself-human-design.p.rapidapi.com",
      "description": "RapidAPI proxy"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and account management"
    },
    {
      "name": "Chart",
      "description": "Calculate and retrieve Human Design charts"
    },
    {
      "name": "Profile",
      "description": "AI-powered profile narrative generation"
    },
    {
      "name": "Transits",
      "description": "Planetary transits and forecasts"
    },
    {
      "name": "Cycles",
      "description": "Life cycles (Saturn Return, etc.)"
    },
    {
      "name": "Geocode",
      "description": "Location lookup"
    },
    {
      "name": "Cluster",
      "description": "Group analysis clusters"
    },
    {
      "name": "Composite",
      "description": "Relationship composite charts"
    },
    {
      "name": "Billing",
      "description": "Stripe subscription management"
    },
    {
      "name": "Practitioner",
      "description": "Practitioner tier and client management"
    },
    {
      "name": "Referrals",
      "description": "Referral program"
    },
    {
      "name": "Achievements",
      "description": "User achievement tracking"
    },
    {
      "name": "Webhooks",
      "description": "External webhook delivery"
    },
    {
      "name": "Admin",
      "description": "Internal admin operations"
    },
    {
      "name": "Health",
      "description": "Infrastructure health check"
    },
    {
      "name": "Gates",
      "description": "HD gate information"
    }
  ],
  "paths": {
    "/api/achievements": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "summary": "Get user achievements",
        "operationId": "getAchievements",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Achievements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/promo": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List promo codes",
        "operationId": "adminListPromo",
        "security": [
          {
            "AdminToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Promo codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create promo code",
        "operationId": "adminCreatePromo",
        "security": [
          {
            "AdminToken": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/admin/stats": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Overview stats",
        "operationId": "adminStats",
        "security": [
          {
            "AdminToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List/search users",
        "operationId": "adminListUsers",
        "security": [
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get user",
        "operationId": "adminGetUser",
        "security": [
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update user tier/verify",
        "operationId": "adminPatchUser",
        "security": [
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request password reset",
        "operationId": "forgotPassword",
        "responses": {
          "204": {
            "description": "Reset email sent"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "operationId": "login",
        "responses": {
          "200": {
            "description": "Access + refresh tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke refresh token",
        "operationId": "logout",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "operationId": "getMe",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh access token",
        "operationId": "refreshToken",
        "responses": {
          "200": {
            "description": "New access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create account",
        "operationId": "register",
        "responses": {
          "201": {
            "description": "Tokens + user object"
          }
        }
      }
    },
    "/api/auth/resend-verification": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Resend verification email",
        "operationId": "resendVerification",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Sent"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset password",
        "operationId": "resetPassword",
        "responses": {
          "204": {
            "description": "Password updated"
          }
        }
      }
    },
    "/api/auth/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify email",
        "operationId": "verifyEmail",
        "responses": {
          "204": {
            "description": "Email verified"
          }
        }
      }
    },
    "/api/billing/cancel": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Cancel subscription",
        "operationId": "cancelSub",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Cancellation scheduled"
          }
        }
      }
    },
    "/api/billing/portal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Open Stripe billing portal",
        "operationId": "billingPortal",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Portal URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/status": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get subscription status",
        "operationId": "billingStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tier + renewal date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/subscribe": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create checkout session",
        "operationId": "subscribe",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/chart/calculate": {
      "post": {
        "tags": [
          "Chart"
        ],
        "summary": "Calculate Human Design chart",
        "description": "Generate a complete Human Design chart from birth data, including type, profile, authority, centers, gates, channels, astrology, and numerology.",
        "operationId": "calculateChart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartCalculationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic chart calculation",
                  "value": {
                    "birthDate": "1990-01-15",
                    "birthTime": "14:30",
                    "birthLocation": {
                      "city": "Los Angeles",
                      "country": "USA",
                      "latitude": 34.0522,
                      "longitude": -118.2437,
                      "timezone": "America/Los_Angeles"
                    }
                  }
                },
                "withName": {
                  "summary": "With name",
                  "value": {
                    "name": "John Doe",
                    "birthDate": "1990-01-15",
                    "birthTime": "14:30",
                    "birthLocation": {
                      "city": "Los Angeles",
                      "country": "USA",
                      "latitude": 34.0522,
                      "longitude": -118.2437,
                      "timezone": "America/Los_Angeles"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/chart/history": {
      "get": {
        "tags": [
          "Chart"
        ],
        "summary": "List saved charts",
        "operationId": "chartHistory",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Chart list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chart/save": {
      "post": {
        "tags": [
          "Chart"
        ],
        "summary": "Save chart",
        "operationId": "saveChart",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Saved"
          }
        }
      }
    },
    "/api/chart/{id}": {
      "get": {
        "tags": [
          "Chart"
        ],
        "summary": "Get chart by ID",
        "operationId": "getChart",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/cluster/create": {
      "post": {
        "tags": [
          "Cluster"
        ],
        "summary": "Create cluster",
        "operationId": "createCluster",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Cluster created"
          }
        }
      }
    },
    "/api/cluster/list": {
      "get": {
        "tags": [
          "Cluster"
        ],
        "summary": "List clusters",
        "operationId": "listClusters",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Clusters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/composite": {
      "post": {
        "tags": [
          "Composite"
        ],
        "summary": "Composite/relationship chart",
        "operationId": "composite",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Composite chart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/cycles/{chartId}": {
      "get": {
        "tags": [
          "Cycles"
        ],
        "summary": "Get life cycles",
        "description": "Calculate major astrological life cycles for a chart (Saturn Return, Chiron Return, Uranus Opposition, etc.)",
        "operationId": "getLifeCycles",
        "parameters": [
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "description": "Chart ID from /api/chart/calculate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter cycles by type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "saturn_return",
                "chiron_return",
                "uranus_opposition",
                "nodal_return"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cycles calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CyclesResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/gates/{gateNumber}": {
      "get": {
        "tags": [
          "Gates"
        ],
        "summary": "Get gate information",
        "description": "Retrieve detailed information about a specific Human Design gate, including name, center, circuit, lines, and Gene Key.",
        "operationId": "getGate",
        "parameters": [
          {
            "name": "gateNumber",
            "in": "path",
            "required": true,
            "description": "Gate number (1-64)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/geocode": {
      "get": {
        "tags": [
          "Geocode"
        ],
        "summary": "Geocode city to lat/lng + timezone",
        "operationId": "geocode",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "lat, lng, timezone",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/api/practitioner/clients": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "summary": "List clients",
        "operationId": "listClients",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/practitioner/clients/add": {
      "post": {
        "tags": [
          "Practitioner"
        ],
        "summary": "Add client by email",
        "operationId": "addClient",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Client added"
          }
        }
      }
    },
    "/api/practitioner/profile": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "summary": "Get practitioner profile",
        "operationId": "getPractitionerProfile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/practitioner/referral-link": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "summary": "Get referral link",
        "operationId": "getReferralLink",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Link + stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/practitioner/register": {
      "post": {
        "tags": [
          "Practitioner"
        ],
        "summary": "Register as practitioner",
        "operationId": "registerPractitioner",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Profile created"
          }
        }
      }
    },
    "/api/profile/generate": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Generate profile narrative",
        "description": "Create an AI-powered profile narrative from a Human Design chart. Customizable by section, audience, and length.",
        "operationId": "generateProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/profile/generate/stream": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Generate profile (SSE stream)",
        "operationId": "generateProfileStream",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream"
          }
        }
      }
    },
    "/api/profile/list": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "List saved profiles",
        "operationId": "listProfiles",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{id}": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get profile by ID",
        "operationId": "getProfile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{id}/pdf": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Export profile as PDF",
        "operationId": "exportPdf",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/rectify": {
      "post": {
        "tags": [
          "Transits"
        ],
        "summary": "Birth-time sensitivity analysis",
        "operationId": "rectify",
        "responses": {
          "200": {
            "description": "Rectification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Get referral info",
        "operationId": "getReferrals",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Referral link + balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/validate": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Validate referral code",
        "operationId": "validateReferral",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valid flag",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/transits/forecast": {
      "post": {
        "tags": [
          "Transits"
        ],
        "summary": "Get transit forecast",
        "description": "Retrieve current and upcoming planetary transits affecting a chart. Includes gate activations, channel formations, and astrological aspects.",
        "operationId": "getTransitForecast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransitForecastRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forecast generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransitForecastResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/transits/today": {
      "get": {
        "tags": [
          "Transits"
        ],
        "summary": "Current planetary positions",
        "operationId": "transitsToday",
        "responses": {
          "200": {
            "description": "Today transits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register webhook",
        "operationId": "registerWebhook",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Registered"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key from primeself.app Settings > API Keys"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AdminToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Admin-Token"
      }
    },
    "schemas": {
      "ChartCalculationRequest": {
        "type": "object",
        "required": [
          "birthDate",
          "birthTime",
          "birthLocation"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Person's name (optional)",
            "example": "John Doe"
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "description": "Birth date in YYYY-MM-DD format",
            "example": "1990-01-15"
          },
          "birthTime": {
            "type": "string",
            "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$",
            "description": "Birth time in HH:MM format (24-hour)",
            "example": "14:30"
          },
          "birthLocation": {
            "$ref": "#/components/schemas/BirthLocation"
          }
        }
      },
      "BirthLocation": {
        "type": "object",
        "required": [
          "latitude",
          "longitude",
          "timezone"
        ],
        "properties": {
          "city": {
            "type": "string",
            "description": "Birth city (optional)",
            "example": "Los Angeles"
          },
          "country": {
            "type": "string",
            "description": "Birth country (optional)",
            "example": "USA"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude in decimal degrees",
            "example": 34.0522
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude in decimal degrees",
            "example": -118.2437
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone identifier",
            "example": "America/Los_Angeles"
          }
        }
      },
      "ChartResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "chart": {
            "$ref": "#/components/schemas/Chart"
          }
        }
      },
      "Chart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique chart identifier",
            "example": "chart_abc123"
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "birthData": {
            "$ref": "#/components/schemas/BirthData"
          },
          "design": {
            "$ref": "#/components/schemas/HumanDesign"
          },
          "astrology": {
            "$ref": "#/components/schemas/Astrology"
          },
          "numerology": {
            "$ref": "#/components/schemas/Numerology"
          },
          "geneKeys": {
            "$ref": "#/components/schemas/GeneKeys"
          }
        }
      },
      "BirthData": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/BirthLocation"
          },
          "julianDay": {
            "type": "number",
            "description": "Julian Day Number for personality calculation"
          },
          "designDate": {
            "type": "string",
            "format": "date-time",
            "description": "Design calculation date (88\u00b0 before birth)"
          }
        }
      },
      "HumanDesign": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Manifestor",
              "Generator",
              "Manifesting Generator",
              "Projector",
              "Reflector"
            ],
            "description": "Human Design energy type"
          },
          "profile": {
            "type": "string",
            "pattern": "^[1-6]/[1-6]$",
            "description": "Profile line combination",
            "example": "3/5"
          },
          "authority": {
            "type": "string",
            "enum": [
              "Emotional",
              "Sacral",
              "Splenic",
              "Ego",
              "Self-Projected",
              "Environmental",
              "Lunar"
            ],
            "description": "Decision-making authority"
          },
          "strategy": {
            "type": "string",
            "description": "Type-specific strategy"
          },
          "definition": {
            "type": "string",
            "enum": [
              "None",
              "Single",
              "Split",
              "Triple Split",
              "Quadruple Split"
            ],
            "description": "Center connection pattern"
          },
          "centers": {
            "$ref": "#/components/schemas/Centers"
          },
          "gates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Gate"
            }
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          }
        }
      },
      "Centers": {
        "type": "object",
        "properties": {
          "head": {
            "$ref": "#/components/schemas/Center"
          },
          "ajna": {
            "$ref": "#/components/schemas/Center"
          },
          "throat": {
            "$ref": "#/components/schemas/Center"
          },
          "g": {
            "$ref": "#/components/schemas/Center"
          },
          "ego": {
            "$ref": "#/components/schemas/Center"
          },
          "sacral": {
            "$ref": "#/components/schemas/Center"
          },
          "emotionalSolar": {
            "$ref": "#/components/schemas/Center"
          },
          "spleen": {
            "$ref": "#/components/schemas/Center"
          },
          "root": {
            "$ref": "#/components/schemas/Center"
          }
        }
      },
      "Center": {
        "type": "object",
        "properties": {
          "defined": {
            "type": "boolean",
            "description": "Whether center has consistent energy"
          },
          "gates": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Activated gate numbers in this center"
          }
        }
      },
      "Gate": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "minimum": 1,
            "maximum": 64
          },
          "line": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6
          },
          "planet": {
            "type": "string",
            "example": "Sun"
          },
          "type": {
            "type": "string",
            "enum": [
              "personality",
              "design"
            ],
            "description": "Conscious (personality) or unconscious (design)"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "Channel number (gate-gate format)",
            "example": "64-47"
          },
          "name": {
            "type": "string",
            "example": "Abstraction"
          },
          "design": {
            "type": "string",
            "description": "Circuit type",
            "example": "individual knowing"
          }
        }
      },
      "Astrology": {
        "type": "object",
        "properties": {
          "sun": {
            "$ref": "#/components/schemas/Planet"
          },
          "moon": {
            "$ref": "#/components/schemas/Planet"
          },
          "mercury": {
            "$ref": "#/components/schemas/Planet"
          },
          "venus": {
            "$ref": "#/components/schemas/Planet"
          },
          "mars": {
            "$ref": "#/components/schemas/Planet"
          },
          "jupiter": {
            "$ref": "#/components/schemas/Planet"
          },
          "saturn": {
            "$ref": "#/components/schemas/Planet"
          },
          "uranus": {
            "$ref": "#/components/schemas/Planet"
          },
          "neptune": {
            "$ref": "#/components/schemas/Planet"
          },
          "pluto": {
            "$ref": "#/components/schemas/Planet"
          },
          "ascendant": {
            "$ref": "#/components/schemas/SignDegree"
          },
          "aspects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aspect"
            }
          }
        }
      },
      "Planet": {
        "type": "object",
        "properties": {
          "sign": {
            "type": "string",
            "example": "Capricorn"
          },
          "degree": {
            "type": "number",
            "format": "double",
            "example": 24.5
          },
          "house": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          }
        }
      },
      "SignDegree": {
        "type": "object",
        "properties": {
          "sign": {
            "type": "string"
          },
          "degree": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Aspect": {
        "type": "object",
        "properties": {
          "planet1": {
            "type": "string"
          },
          "planet2": {
            "type": "string"
          },
          "aspect": {
            "type": "string",
            "enum": [
              "conjunction",
              "opposition",
              "trine",
              "square",
              "sextile"
            ]
          },
          "orb": {
            "type": "number",
            "format": "double",
            "description": "Orb in degrees"
          }
        }
      },
      "Numerology": {
        "type": "object",
        "properties": {
          "lifePath": {
            "type": "integer",
            "minimum": 1,
            "maximum": 11
          },
          "expression": {
            "type": "integer"
          },
          "soulUrge": {
            "type": "integer"
          },
          "personality": {
            "type": "integer"
          },
          "birthday": {
            "type": "integer"
          }
        }
      },
      "GeneKeys": {
        "type": "object",
        "properties": {
          "lifeWork": {
            "$ref": "#/components/schemas/GeneKey"
          },
          "evolution": {
            "$ref": "#/components/schemas/GeneKey"
          },
          "radiance": {
            "$ref": "#/components/schemas/GeneKey"
          },
          "purpose": {
            "$ref": "#/components/schemas/GeneKey"
          }
        }
      },
      "GeneKey": {
        "type": "object",
        "properties": {
          "gate": {
            "type": "integer"
          },
          "geneKey": {
            "type": "integer"
          },
          "shadow": {
            "type": "string"
          },
          "gift": {
            "type": "string"
          },
          "siddhi": {
            "type": "string"
          }
        }
      },
      "ProfileGenerationRequest": {
        "type": "object",
        "required": [
          "chartId"
        ],
        "properties": {
          "chartId": {
            "type": "string",
            "description": "Chart ID from /api/chart/calculate"
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "overview",
                "type",
                "authority",
                "profile",
                "gates",
                "channels",
                "centers"
              ]
            },
            "description": "Specific sections to include (default: all)"
          },
          "audience": {
            "type": "string",
            "enum": [
              "self",
              "practitioner",
              "simple"
            ],
            "default": "self",
            "description": "Target audience for language complexity"
          },
          "length": {
            "type": "string",
            "enum": [
              "brief",
              "medium",
              "comprehensive"
            ],
            "default": "medium",
            "description": "Profile narrative length"
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "profile": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "chartId": {
                "type": "string"
              },
              "narrative": {
                "type": "string",
                "description": "Full combined narrative"
              },
              "sections": {
                "type": "object",
                "description": "Individual section narratives"
              },
              "wordCount": {
                "type": "integer"
              },
              "generatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "TransitForecastRequest": {
        "type": "object",
        "required": [
          "chartId"
        ],
        "properties": {
          "chartId": {
            "type": "string"
          },
          "forecastDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30,
            "default": 7,
            "description": "Number of days to forecast"
          },
          "includeAspects": {
            "type": "boolean",
            "default": true,
            "description": "Include transit-to-natal aspects"
          }
        }
      },
      "TransitForecastResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "forecast": {
            "type": "object",
            "properties": {
              "chartId": {
                "type": "string"
              },
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date"
              },
              "currentTransits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Transit"
                }
              },
              "upcomingTransits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Transit"
                }
              },
              "aspects": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransitAspect"
                }
              }
            }
          }
        }
      },
      "Transit": {
        "type": "object",
        "properties": {
          "planet": {
            "type": "string"
          },
          "gate": {
            "type": "integer"
          },
          "line": {
            "type": "integer"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "impact": {
            "type": "string",
            "description": "Description of transit's impact"
          },
          "channelFormed": {
            "type": "string",
            "nullable": true,
            "description": "Channel number if transit forms channel"
          }
        }
      },
      "TransitAspect": {
        "type": "object",
        "properties": {
          "transit": {
            "type": "string",
            "description": "Transiting planet"
          },
          "natal": {
            "type": "string",
            "description": "Natal planet"
          },
          "aspect": {
            "type": "string",
            "enum": [
              "conjunction",
              "opposition",
              "trine",
              "square",
              "sextile"
            ]
          },
          "orb": {
            "type": "number",
            "format": "double"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "When aspect is exact"
          }
        }
      },
      "GateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "gate": {
            "type": "object",
            "properties": {
              "number": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "center": {
                "type": "string"
              },
              "circuit": {
                "type": "string"
              },
              "keynote": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "lines": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "line": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              },
              "geneKey": {
                "type": "object",
                "properties": {
                  "shadow": {
                    "type": "string"
                  },
                  "gift": {
                    "type": "string"
                  },
                  "siddhi": {
                    "type": "string"
                  }
                }
              },
              "channels": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        }
      },
      "CyclesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "chartId": {
            "type": "string"
          },
          "cycles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifeCycle"
            }
          }
        }
      },
      "LifeCycle": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "saturn_return",
              "chiron_return",
              "uranus_opposition",
              "nodal_return"
            ]
          },
          "name": {
            "type": "string"
          },
          "exactDate": {
            "type": "string",
            "format": "date-time"
          },
          "windowStart": {
            "type": "string",
            "format": "date"
          },
          "windowEnd": {
            "type": "string",
            "format": "date"
          },
          "age": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "past",
              "current",
              "upcoming"
            ]
          },
          "daysUntil": {
            "type": "integer",
            "nullable": true,
            "description": "Days until cycle (null if past)"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Validation error",
              "code": "VALIDATION_ERROR",
              "details": {
                "birthTime": "Must be in HH:MM format",
                "birthLocation.latitude": "Must be between -90 and 90"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missing": {
                "summary": "Missing API key",
                "value": {
                  "error": "API key is missing",
                  "code": "API_KEY_MISSING",
                  "message": "Include X-API-Key header with your API key"
                }
              },
              "invalid": {
                "summary": "Invalid API key",
                "value": {
                  "error": "API key is invalid",
                  "code": "API_KEY_INVALID",
                  "message": "The provided API key does not exist or has been revoked"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not found",
              "code": "NOT_FOUND",
              "message": "The requested resource does not exist"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Request limit per window",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining in current window",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when rate limit resets",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Rate limit exceeded. 1,000 requests per day. Resets in 3600 seconds.",
              "code": "RATE_LIMIT_EXCEEDED",
              "limit": 1000,
              "window": "day",
              "resetIn": 3600,
              "upgrade": "Upgrade to Pro tier for 10,000 requests/day"
            }
          }
        }
      }
    }
  }
}